* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header button {
    margin-top: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: peachpuff;
}

.sketcher {
    display: grid;
    grid-template-rows: repeat(var(--grid-number), 1fr);
    grid-template-columns: repeat(var(--grid-number), 1fr);
    height: 50vh;
    width: 50vh;
    background-color: pink;
}

.pinkbox {
    background-color: white;
    border: 1px solid black;
}